<div class="row">
  <div class="col-12">
    <h4>Filters</h4>

    <div class="row">
      <!-- Limit Filter -->
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="limit">Limit</label>
          <select [(ngModel)]="limit" class="form-control" (change)="retrieveProcurement()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
          </select>
        </div>
      </div>

      <!-- Price from filter -->
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="price-from">Price From</label>
          <input type="number" id="price-from" [(ngModel)]="priceFrom" class="form-control" />
        </div>
      </div>

      <!-- Price to filter -->
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="price-to">Price To</label>
          <input type="number" id="price-to" [(ngModel)]="priceTo" class="form-control" />
        </div>
      </div>

      <!-- Tender count from filter -->
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="tender-count-from">Tender count From</label>
          <input type="number" id="tender-count-from" [(ngModel)]="tenderCountFrom" class="form-control" />
        </div>
      </div>

      <!-- Tender count to filter -->
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="tender-count-to">Tender count To</label>
          <input type="number" id="tender-count-to" [(ngModel)]="tenderCountTo" class="form-control" />
        </div>
      </div>
      
      <!-- Tender count to filter -->
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="authority-name">Authority Name</label>
          <input type="text" id="authority-name" [(ngModel)]="authorityName" class="form-control" />
        </div>
      </div>

      <!-- Apply filters -->
      <div class="col-12">
        <button class="btn btn-primary float-right" (click)="retrieveProcurement()">Apply Filters</button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h4>Procurements</h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="pointer" (click)="setSorting('document_id')">
              IUB Document ID
              <ng-container *ngIf="sortBy === 'document_id'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
            <th class="pointer" (click)="setSorting('authority_name')">
              Authority Name
              <ng-container *ngIf="sortBy === 'authority_name'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
            <th class="pointer" (click)="setSorting('authority_reg_num')">
              Authority Registration Number
              <ng-container *ngIf="sortBy === 'authority_reg_num'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
            <th class="pointer" (click)="setSorting('winner_list.winner.winner_name')">
              Winner
              <ng-container *ngIf="sortBy === 'winner_list.winner.winner_name'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
            <th class="pointer" (click)="setSorting('part_5_list.part_5.decision_date')">
              Decision Date
              <ng-container *ngIf="sortBy === 'part_5_list.part_5.decision_date'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
            <th class="pointer" (click)="setSorting('part_5_list.part_5.contract_price_exact')">
              Contract Price
              <ng-container *ngIf="sortBy === 'part_5_list.part_5.contract_price_exact'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
            <th class="pointer" (click)="setSorting('part_5_list.part_5.tender_num')">
              Tender Count
              <ng-container *ngIf="sortBy === 'part_5_list.part_5.tender_num'">
                <ng-container *ngIf="sortDirection === 1">
                  <span class="material-icons">arrow_upwards</span>
                </ng-container>

                <ng-container *ngIf="sortDirection === -1">
                  <span class="material-icons">arrow_downwards</span>
                </ng-container>
              </ng-container>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="IUBData.length === 0">
            <tr>
              <td colspan="7" class="text-center">No records were found that match the specified search criteria</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="IUBData.length > 0">
            <tr *ngFor="let row of IUBData" [ngClass]="{'table-warning': row.winner_list?.winner?.winner_country !== '1', 'table-danger': row.winner_list?.winner?.winner_country !== '1' && row.part_5_list?.part_5?.tender_num  === '1'}">
              <td>
                <a href="https://pvs.iub.gov.lv/show/{{ row.document_id }}" target="_blank">{{ row.document_id }}</a>
              </td>
              <td>{{ row.authority_name }}</td>
              <td>{{ row.authority_reg_num }}</td>
              <td>
                <a target="_blank" href="https://company.lursoft.lv/{{ row.winner_list?.winner?.winner_reg_num}}">{{ row.winner_list?.winner?.winner_name }} ({{ row.winner_list?.winner?.winner_reg_num }})</a>
              </td>
              <td>
                <ng-container *ngIf="row.part_5_list?.part_5?.decision_date">
                  {{ row.part_5_list?.part_5?.decision_date }}
                </ng-container>
                <ng-container *ngIf="!row.part_5_list?.part_5?.decision_date">
                  N/A
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="row.part_5_list?.part_5?.contract_price_exact">
                  {{ row.part_5_list?.part_5?.contract_price_exact | currency:'EUR':'symbol':'0.2-2' }}
                </ng-container>
                <ng-container *ngIf="!row.part_5_list?.part_5?.contract_price_exact">
                  N/A
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="row.part_5_list?.part_5?.tender_num">
                  {{ row.part_5_list?.part_5?.tender_num }}
                </ng-container>
                <ng-container *ngIf="!row.part_5_list?.part_5?.tender_num">
                  N/A
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Authority data modal -->
<div class="modal fade" id="winnerDataModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Winner Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>